
<form asp-controller="Admin" asp-action="AddSource" method="post">
	<p>
	<label>
		Name: <input name="Name" type="text"></input>
    </label>
	</p>
	<p><input type="submit" value="send" /></p>
</form>