<a asp-controller="Admin" asp-action="ItemListPage">
	<p>Show product list</p>
</a>

<a asp-controller="Admin" asp-action="MaterialListPage">
	<p>Show material list</p>
</a>

<a asp-controller="Admin" asp-action="SourceListPage">
	<p>Show source list</p>
</a>

<a asp-controller="Admin" asp-action="AddItemPage">
	<p>Add product</p>
</a>

<a asp-controller="Admin" asp-action="AddMaterialPage">
	<p>Add material</p>
</a>

<a asp-controller="Admin" asp-action="AddSourcePage">
	<p>Add source</p>
</a>

